{% extends "base_books.html" %}

{% block content %}
<div class="container white-text">
    <div class="row">
        <div class="col-sm-6">
            <div style="margin-left:20px;margin-top:20px">
                <div class="card" style="margin-top:20px; text-align:center;">
                    <div class="card-body">
                        <div class="card-text">
                            <h1>All users</h1>
                            {% for user in all_users %}
                            <a href="{% url 'profile-withpk' pk=user.pk %}"><h3>{{ user.username }}</h3></a>
                            {% if not user in friends %}
                            <a href="{% url 'change_friends' operation='add' pk=user.pk %}">
                                <button type="button" class="btn btn-dark">Add friend</button>
                            </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="col-sm-6">
            <div class="card" style="margin-top:20px; text-align:center;">
                <div class="card-body">
                    <div class="card-text">
                        <h2>My Friends</h2>
                        {% for friend in friends %}
                        <a href="{% url 'profile-withpk' pk=friend.pk %}"><h3>{{ friend.username }}</h3></a>
                        <a href="{% url 'change_friends' operation='remove' pk=friend.pk %}">
                            <button type="button" class="btn btn-dark">Remove friend</button>
                        </a>
                        {% endfor %}
                    </div>

                </div>

            </div>
        </div>
</div>
{% endblock %}

